{% extends 'base.html' %}

{% block content %}


<script type="text/javascript">
$( document ).ready(function(){
  $( "#button1id" ).click(function(){sign_in(log_input.value, pass_input.value)});
  $( "#add_car" ).click(function(){
      create_car(car_brand.value, car_model.value, car_type.value, car_power.value);
  });
});
</script>


{% if is_admin %}
<div class="card" style="width: 18rem;">
  <div class="card-body mb-3">
    <div class="input-group mb-3">
      <input id="car_brand" type="text" class="form-control" placeholder="brand" aria-label="brand">
      <input id="car_model" type="text" class="form-control" placeholder="model" aria-label="model">
      <input id="car_type" type="text" class="form-control" placeholder="type" aria-label="type">
      <input id="car_power" type="text" class="form-control" placeholder="power" aria-label="power">
    </div>
    <button id="add_car" type="button" class="btn btn-success">Добавить машину</button>
  </div>
</div>
{% endif %}


{% for car in car_list %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ car.brand }} - {{ car.model }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ car.type }}</h6>
    <p class="card-text">Мощность двигателя: {{ car.power }}</p>
    <a href="/cars/{{ car.uuid }}" class="card-link">Подробнее</a>
<!--    <a href="#" class="card-link">Another link</a>-->
  </div>
</div>
{% endfor %}



{% endblock %}